* {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'Stepp-Book';
    src: url('./fonts/Steppe-Book.ttf');
}
@font-face {
    font-family: 'Steppe-ExtraBold';
    src: url('./fonts/Steppe-ExtraBold.ttf');
}
body {
    background-color: #5243F4;
    font-family: 'Stepp-Book', sans-serif;
    color: #fff;
}
.button {
    background-color: #fff;
    border-radius: 60px;
    width: 188px;
    height: 58px;
    box-sizing: border-box;
    padding: 18px;
    font-size: 18px;
    text-align: center;
    color: #5243F4;
    border: 0;
    outline: none;
    cursor: pointer;
}
.violet_button {
    background-color: #5243F4;
    color: #fff;
}
.button.violet_button:hover {
    background-color: #3120e4;
}
.button:hover {
    background-color: #eeeeee;
}
.common_title {
    font-family: 'Steppe-ExtraBold', sans-serif;
    font-size: 60px;
    line-height: 100%;
    text-align: center;
}
.main {
    position: relative;
    overflow: hidden;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.header {
    padding: 40px 0;
}
.logo img {
    vertical-align: bottom;
}
.menu {
    margin-left: 250px;
}
.header .container {
    display: flex;
    align-items: center;
}
.menu_list {
    list-style: none;
    display: flex;
    gap: 50px;
}
.menu_item a {
    font-size: 16px;
    line-height: 130%;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
}
.menu_item a:hover {
    border-bottom: 2px solid #fff;
}
.main_content {
    padding-top: 161px;
    padding-bottom: 200px;
}
.main_info {
    max-width: 811px;
}
.main_title {
    font-family: 'Steppe-ExtraBold',sans-serif;
    font-size: 90px;
    line-height: 100%;
    margin-bottom: 20px;
}
.main_text {
    max-width: 697px;
    font-size: 18px;
    line-height: 130%;
    margin-bottom: 40px;
}
.main_action {
}
.main_image {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}
.products {
    padding: 100px 0;
    position: relative;
}
.products_items {
    display: grid;
    grid-template-columns: repeat(3, 384px);
    gap: 90px 24px;
    margin-top: 110px;
}
.product_item {
    background-color: #fff;
    color: #5D3427;
}
.product_item_image {
    height: 202px;
    text-align: center;
}
.product_item_image img {
    height: 272px;
    top: -70px;
    position: relative;
    max-width: 100%;
}
.product_item_details {
    padding: 24px;
}
.product_item_title {
    font-family: 'Steppe-ExtraBold', sans-serif;
    font-size: 18px;
    margin-bottom: 20px;
}
.product_item_text {
    height: 110px;
    font-size: 14px;
    line-height: 120%;
    margin-bottom: 20px;
}
.product_item_extra {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.product_item_prise {
    font-family: 'Steppe-ExtraBold', sans-serif;
    font-size: 24px;
    color: #5243F4;
    margin-bottom: 10px;
}
.product_item_weight {
    font-size: 12px;
}
.love {
    padding-top: 64px;
    padding-bottom: 150px;
}
.love_items {
    margin-top: 40px;
    display: flex;
    gap: 20px;
}
.love_item {
    width: 590px;
    height: 453px;
}
.love_item_white {
    background-color: #fff; 
    padding: 110px 80px;
    box-sizing: border-box;
    color: #5D3427;
}
.love_item_title {
    font-family: 'Steppe-ExtraBold',sans-serif;
    font-size: 24px;
    line-height: 110%;
    margin-bottom: 20px;
}
.love_item_text {
    font-size: 18px;
    line-height: 130%;
}
.order {
    padding-bottom: 102px;
    position: relative;
}
.order .container {
    position: relative;
}
.order_block {
    display: flex;
    margin-top: 103px;
    background-color: rgb(255 255 255 / 30%);
    backdrop-filter: blur(50px);
}
.order_form {
    margin-left: 200px;
    max-width: 387px;
    padding-top: 40px;
    padding-bottom: 44px;
    box-sizing: border-box;
}
.order_form_text {
    font-family: 'Steppe-ExtraBold',sans-serif;
    font-size: 18px;
    line-height: 130%;
}
.order_form_inputs {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.order_form_inputs input {
    border: 1px solid white;
    margin-bottom: 16px;
    padding: 24px 22px;
    font-size: 18px;
    width: 385px;
    height: 68px;
    background: transparent;
    box-sizing: border-box;
    color: #fff;
    outline: none;
    border-radius: 60px;
}
::placeholder {
    color:rgb(255, 255, 255. 0.4);
}
.order_form_inputs .button.violet_button {
    width: 387px;
    height: 71px;
}
.order_block_image {
    height: 501px;
    margin-left: 109px;
}
.order_image {
    height: 559px;
    top: -58px;
    position: relative;
}
.order_bg_image {
    position: absolute;
    top: 0px;
    right: calc(100% - 810px);
    z-index: -1;
}
.footer {
    padding-top: 126px;
    padding-bottom: 50px;
    text-align: center;
}
.logo {
}
.rights {
    margin-top: 14px;
    font-size: 18px;
    line-height: 130%;
}
.line1 {
    position: absolute;
    top: 0;
    left: calc(100% - 1120px);
    z-index: -1;
}
.line2 {
    position: absolute;
    top: -40px;
    left: 0;
    z-index: -1;
}
.line3 {
    position: absolute;
    top: -920px;
    left: 0;
    z-index: -1;
}
