:root{
    --page_bg: #5243F4;
    --font_color: #fff; 
    --link_color: #fff; 
    --main_font: "Stepp-Book";
}
@font-face {
    font-family: 'Stepp-Book';
    src: url(./fonts/Steppe-Book.ttf);
}
@font-face {
    font-family: 'Steppe-ExtraBold';
    src: url(./fonts/Steppe-ExtraBold.ttf); 
}
/* RESET */
html{ 
    width: 100%; 
    height: 100%; 
    background: var( --page_bg ); 
    color: var( --font_color ); 
    font-size: 16px; 
    line-height: 1.25em; 
    font-family: var( --main_font ); 
    padding: 0px; 
    margin: 0px; 
    overflow-x: hidden; 
}
body{ 
    min-height: 100%; 
    display: flex; 
    flex-flow: column nowrap; 
    align-items: stretch; 
    justify-content: stretch; 
    padding: 0px; 
    margin: 0px; 
    gap: 0; 
    position: relative; 
    overflow-x: hidden; 
}
*{ 
    box-sizing: border-box; 
    outline: none; 
    resize: none; 
    cursor: default; 
    padding: 0; 
    margin: 0; 
} 
h1, h2, h3, h4, h5, h6, p, span{ 
    cursor: default; 
    color: var( --font_color ); 
    font-family: var( --main_font ); 
} 
a{ 
    font-family: var( --main_font ); 
    color: var( --link_color ); 
    text-decoration: none; 
    cursor: pointer; 
}
label{ cursor: pointer; } 
button{ 
    cursor: pointer; 
    border: 0; 
}
.resize{ flex-grow:1; flex-shrink:1; }
.noresize{ flex-grow:0; flex-shrink:0; } 
.al{ text-align: left; }
.ac{ text-align: center; }
.ar{ text-align: right; }

/* MAIN */
.button {
    background-color: #fff;
    border-radius: 60px;
    width: 188px;
    height: 58px;
    box-sizing: border-box;
    padding: 18px;
    font-size: 18px;
    text-align: center;
    color: #5243F4;
    border: 0;
    outline: none;
    cursor: pointer;
}
.button:hover { background-color: #eee; }
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.header { padding: 40px 0; }
.logo img { vertical-align: bottom; }
.menu { margin-left: 250px; }
.header .container {
    display: flex;
    align-items: center;
}
.menu_list {
    list-style: none;
    display: flex;
    gap: 50px;
}
.menu_item a {
    font-size: 16px;
    line-height: 130%;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
}
.menu_item a:hover { border-bottom: 2px solid #fff; }
.main_content {
    padding-top: 161px;
    padding-bottom: 200px;
}
.main_info { max-width: 811px; }
.main_title {
    font-family:var( --main_font );
    font-size: 90px;
    line-height: 100%;
    margin-bottom: 20px;
}
.main_text {
    max-width: 697px;
    font-size: 18px;
    line-height: 130%;
    margin-bottom: 40px;
}
.main_image {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}
